<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zrq.sese">

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_kichiku"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_kichiku"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sese">
        <activity
            android:name=".ui.download.DownloadActivity"
            android:exported="true" />
        <activity
            android:name=".ui.love.LoveActivity"
            android:exported="true" />
        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="true" />
        <activity
            android:name=".ui.player.PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>